# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Local env files
.env

# Test / temp
temp/
uploads/
